<!DOCTYPE html>

<head>
    <title>Nodejs boilerplate</title>
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <h1 class="main-header">
            Nodejs boilerplate
        </h1>
    </header>
    <main>
        <h3>Api list</h3>
        <ul>
            <li><a href="/api/example">/api/example - GET</a></li>
            <li><a href="/api/example/rajibul_islam">/api/example/:name - GET</a></li>
        </ul>
    </main>
    <footer> Copyright Ⓒ <span id="copyright">2021 - Md.Rajib-Ul-Islam [<a href="mailto:mdrajibul@gmail.com">mdrajibul@gmail.com</a>]</span>
    </footer>
</body>

</html>